// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

button {
    border-radius: 0;
}

.heading {
    display: flex;
    align-items: center;
    margin: 1rem 0 5rem;

    h1 {
        flex: 1;
        margin: 0;
    }
}

.users-list {
    padding: 0;

    .list-group-item {
        border-left: none;
        border-right: none;
        border-bottom: none;
        padding-left: 3rem;

        &:first-child {
            border-top: none;
        }
    }
}

.messages {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    height: 40rem;
    overflow-y: scroll;
}

.bubble {
    padding: 1rem 2rem;
    background: #f3f3f3;
    width: fit-content;
    margin-bottom: 1rem;
    border-radius: 10px;

    &--own {
        align-self: flex-end;
        background: #299bff;
        color: #fff;
    }
}

.table-wrapper {
    background: white;
    padding: 1rem;
}

.visible-on-hover .should-appear {
    visibility: hidden;
}

.visible-on-hover:hover .should-appear {
    visibility: visible;
}

.bg-white {
    background: #fff;
}

.paginator {
    margin-bottom: 5rem;
}

.books-controls {
    display: flex;
    align-items: center;

    .btn-link.text-danger {
        padding: 0;
        color: #a94442;
    }
}

#books-table tr:first-child > td {
    border-top: 0;
}

#books-table th > div {
    cursor: pointer;
    display: flex;
    align-items: center;

    .heading-text {
        flex: 1;
        text-align: center;
    }

    .icon {
        display: flex;
        align-items: center;
        opacity: 0;
        transition: .3s all ease-in-out;

        &.reversed {
            transform: rotate(-180deg);
        }

        &.visible {
            opacity: 1;
        }
    }
}

.pagination span {
    cursor: pointer;
}

.books-table-wrapper {
    padding: 0 1rem;
}

.available-icon,
.unavailable-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    z-index: 2;
}

.relative {
    position: relative;
}
