
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.heading {
    display: flex;
    align-items: center;
    margin: 1rem 0 5rem;

    h1 {
        flex: 1;
        margin: 0;
    }
}

.table-wrapper {
    background: white;
    padding: 1rem;
}

.visible-on-hover .should-appear {
    visibility: hidden;
}

.visible-on-hover:hover .should-appear {
    visibility: visible;
}

.bg-white {
    background: #fff;
}

.paginator {
    margin-bottom: 5rem;
}

.books-controls {
    display: flex;
    align-items: center;

    .btn-link.text-danger {
        padding: 0;
        color: #a94442;
    }
}

#books-table th > div {
    cursor: pointer;
    display: flex;
    align-items: center;

    .heading-text {
        flex: 1;
    }

    .icon {
        display: flex;
        align-items: center;
        opacity: 0;
        transition: .3s all ease-in-out;

        &.reversed {
            transform: rotate(-180deg);
        }

        &.visible {
            opacity: 1;
        }
    }
}

.pagination span {
    cursor: pointer;
}

// #books-table th:hover {
//     background: #ccc;
// }
