$white: #fff;

body {
    color: $white;
    background: #303030;
}

.users-list .list-group-item {
    color: $white;
    background: #303030;
}

.navbar-default {
    background-color: #222222;
    border-color: #000;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: $white;
}

.btn-default,
.form-control {
    background: transparent;
    color: $white;
}

.heading h1 {
    color: $white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #4a4a4a;
    color: $white;
}

.dropdown-menu li a {
    color: $white;
}

.dropdown-menu {
    background: #4a4a4a;
}

.bg-white {
    background: transparent;
    color: $white;
}

.books-controls .btn-link.text-danger {
    color: #ec4340;
}

a {
    color: #8ad5ff;
}

a:hover,
a:focus {
    color: #aee1ff;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span, .pagination > .active > span:hover,
.pagination > .active > span:focus {
    background-color: rgba(75, 178, 236, 0.36);
    border-color: rgba(48, 151, 209, 0.48);
}

.pagination > .disabled > span, .pagination > .disabled > span:hover,
.pagination > .disabled > span:focus, .pagination > .disabled > a,
.pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: $white;
    background-color: transparent;
    border-color: #ddd;
}

.pagination > li > a,
.pagination > li > span {
    color: $white;
    background-color: transparent;
}

.panel {
    background: transparent;
}

.panel-default > .panel-heading {
    background: transparent;
    color: $white;
}

.text-danger {
    color: #ec4340;
}

.text-success {
    color: #56b958;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: $white;
}
